/* -----------------------------------------------------------------------------
 * buttons
 * -------------------------------------------------------------------------- */
.button {
    background-color: $button-background-color;
    color: $white;
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    @include transition-property(background-color);
    @include transition-duration(0.3s);
}

@media (max-width: 380px){
    a.button.text-button{
        width: 70px;
    }
}

.button:hover {
    background-color: $button-hover-color;
}

.button:active {
    color: $black;
    background-color: $button-active-color;
}

.button span  {
    display: block;
}

/* -----------------------------------------------------------------------------
 * button.image-button
 * -------------------------------------------------------------------------- */
.button.image-button {
    width: 30px;
}

/* -----------------------------------------------------------------------------
 * button.text-button
 * -------------------------------------------------------------------------- */
.button.text-button {
    width: 90px;
}
